
.expert-outermost{
    background-image: url('../assets/Ellipse2.png');
    background-repeat: no-repeat ;
    width: 74%;
}
.expert-img{
    width: 20%;
}

.ex-out{
    display: flex;
    flex-direction: row;
}
.expert-container{
    background-image: url('../assets/Ellipse1.png');
    background-repeat: no-repeat ;
    color: white;
    background-color: rgba(56, 185, 230, 0.05);
    height: 250px;
}

.sub-exp-cont{
    background-image: url(../assets/Ellipse3.png);
    background-repeat: no-repeat ;
    height: 250px;
}

.expert-text{
    padding-top: 30px;
    padding-left: 50px;
}

.rectangular-button {
    background-color: #ffffff; /* White background */
    color: var(--dark); /* Blue text color */
    padding: 10px 20px; /* Adjust padding as needed */
    border: 1px solid var(--dark); /* Blue border */
    border-radius: 5px; /* Adjust border-radius as needed */
    cursor: pointer;
    font-size: 16px; /* Adjust font size as needed */
    transition: background-color 0.3s, color 0.3s; /* Add a smooth transition effect */
    font-weight: 600;
  }

.rectangular-button img{
    padding-left: 2px;
    padding-top: 1px;
}